<%= form_with model: user do |form| %>
  <%= form.label :username, "Username: " %>
  <%= form.text_field :username, placeholder: "Janusz"%>
  <% user.errors.full_messages_for(:username).each do |msg| %>
    <div style="color: red"><%= msg %></div>
  <% end %>
  <br>

  <%= form.label :email, "Email: " %>
  <%= form.text_field :email, placeholder: "janusz@mail.com", required: true %>
  <% user.errors.full_messages_for(:email).each do |msg| %>
    <div style="color: red"><%= msg %></div>
  <% end %>
  <br>

  <%= form.label :password, "Password: " %>
  <%= form.password_field :password, placeholder: "v3ry_S3cREt_69", required: true %>
  <% user.errors.full_messages_for(:password).each do |msg| %>
    <div style="color: red"><%= msg %></div>
  <% end %>
  <br>

  <%= form.submit "Submit" %>
<% end %>